*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #222;
}


/* Position - relative */
  
#box1{
    height: 200px;
    width: 400px;
    background-color: crimson;
    position: relative;
}
#inner{
    height: 50px;
    width: 100px;
    background-color: aqua;
    position: absolute;
    top: 30%;
    left: 50%;
}


/* Position - absolute */

#box2{
    height: 250px;
    width: 420px;
    background-color: limegreen;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    z-index: 6;
}


/* Position - fixed  */

#box3{
    height: 300px;
    width: 450px;
    background-color: skyblue;
    position: fixed;
    top: 50%;
}





 /* Position - sticky */
#box4{
    height: 4000px;
    width: 100%;
    background-color: #444;
}

#ineer4{
    position: sticky;
    top: 0%;
    height: 200px;
    width: 200px;
    background-color: orange;
}