*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;     
    background-attachment: fixed;
        background-image: url(https://images.pexels.com/photos/10361600/pexels-photo-10361600.jpeg);
    background-size: cover;
    background-position: center;
}

#main{
    width: 100%;
    min-height: 100%;
    text-align: center;
 

  
}

h1{
    font-size: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-align: center;


}
button{
    height: 140px;
    width: 280px;
    border-radius: 50px;
    font-size: 50px;
    font-weight: 600;
    font-family: serif;
    margin: 50px 0px 0px 0px;
}