@font-face {
    font-family: font1;
    src: url(./Raleway-Italic-VariableFont_wght.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}
#This-is-main{
    height: 100%;
    width: 100%;
    font-family: font1;
}

#main{
    height: 25%;
    width: 100%;
    background-color: lightskyblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
#main h1{
    font-size: 40px;
}
#main h4{
    padding: 8px;
    margin: 0px 45px;
}

#skills{
    height: 100%;
    width: 100%;
    padding: 30px 0px 0px 250px;
    margin: 20px 0px 10px 0px;
}

#Hii{
    font-weight: 800;
    font-size: 50px;
    text-align: center;
    margin: 0px 300px 0px 50px;
}

#h4{
    font-size: 25px;
    padding: 30px 0px;
    font-weight: 500;
    font-style: italic;
    margin: 0px 160px;
}
#frontend-Skill{
    height: 35%;
    width: 75%;
    background-color: #e0d4d4;
    border-radius: 50px;
    margin: 10px 50px 0px 50px ;
    box-shadow: 5px 4px;
    margin-bottom: 50px;



}


#frontend-Skill h2{
    padding: 10px 0px 0px 360px;
    text-decoration: underline;
    font-weight: 800;
    font-size: 30px;
    
   
}

#frontend-Skill h4{
    padding: 10px 0px 0px 320px;
    list-style-type: none;
    font-weight: 600;
    font-size: 20px;
    margin: 10px 0px;

}


#Backend-Skill{
    height: 39%;
    width: 75%;
    background-color: #e0d4d4;
    border-radius: 50px;
    box-shadow: 5px 4px;

    margin: 20px 50px ;
        margin-bottom: 50px;


}


#Backend-Skill h2{
    padding: 20px 0px 0px 380px;
    text-decoration: underline;
    font-weight: 800;
    font-size: 30px;
    
   
}

#Backend-Skill h4{
    padding: 10px 0px 0px 320px;
    list-style-type: none;
    font-weight: 600;
    font-size: 20px;
    margin: 12px 0px;

}



#Frontend_Animation-Skill{
    height: 45%;
    width: 75%;
    background-color: #e0d4d4;
    border-radius: 50px;
    margin: 20px 50px ;
    box-shadow: 5px 4px;
        margin-bottom: 50px;

}


#Frontend_Animation-Skill h2{
    padding: 15px 0px 0px 300px;
    text-decoration: underline;
    font-weight: 800;
    font-size: 30px;
    
   
}

#Frontend_Animation-Skill h4{
    padding: 10px 0px 0px 320px;
    list-style-type: none;
    font-weight: 600;
    font-size: 20px;
    margin: 12px;

}

#FullStack-Skill{
    height: 45%;
    width: 75%;
    background-color: #e0d4d4;
    border-radius: 50px;
    margin: 30px 50px ;
    box-shadow: 5px 4px;
    margin-bottom: 50px;


}


#FullStack-Skill h2{
    padding: 15px 0px 0px 380px;
    text-decoration: underline;
    font-weight: 800;
    font-size: 30px;
    
   
}

#FullStack-Skill h4{
    padding: 10px 0px 0px 320px;
    list-style-type: none;
    font-weight: 600;
    font-size: 20px;
    margin: 10px;

}


#end{
    height: 10%;
    width: 100%;
}


.lii{
    height: 50px;
    width: 80%;
    margin: 3px 100px;
    background-color: rgb(16, 114, 114);
    border-radius: 5px;
}