* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #111;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 75px 1fr 0.3fr 0.3fr 1fr;
  grid-template-areas:
    "header header header"
    "section section section "
    "div-left div-up div-right"
    "div-left div-bottom div-right"
    "page1 page1 page1"
    ;

  header {
    grid-area: header;
    background-color: red;

    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 25px;

      h3 {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 12px;
      }

      #bar {
        padding: 4px;
        display: flex;
        justify-content: space-between;
        gap: 40px;
        margin-left: 240px;

        a {
          color: #fff;
          text-decoration: none;
          font-size: 18px;
          font-family: 600;
        }
      }
      #sign {
        margin-left: 20px;

        button {
          padding: 14px 20px;
          border-radius: 50px;
          font-size: 16px;
          font-weight: 600;
          cursor: pointer;

          border: none;
        }
        button:nth-child(1) {
          margin-right: 6px;
          background-color: rgb(144, 144, 236);
          color: #fff;
        }
        button:nth-child(1):hover {
          background-color: #fff;
          color: rgb(144, 144, 236);
        }

        button:nth-child(2) {
          margin-right: 6px;
          background-color: #fff;
          color: rgb(144, 144, 236);
        }

        button:nth-child(2):hover {
          background-color: rgb(144, 144, 236);
          color: #fff;
        }
      }
    }
  }
  section {
    grid-area: section;
    text-align: center;
    color: #fff;

    #inner{
        display: flex;
        gap: 35px;
        padding: 20px 10px;
    }


    h1 {
      margin-top: 25px;
      margin-bottom: 14px;
      font-size: 30px;
      font-weight: 600;
      margin-left: 12px;
    }
    p {
      font-size: 24px;
      font-weight: 500;
      padding-top: 24px;
      padding-left: 20px;
      white-space: wrap;
      width: 1000px;
      
   
    }
    #btn{
        margin-top: 8px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        margin-left: 450px;
        gap: 16px;

        button{
            padding: 16px 30px;
            border-radius: 50px;
            font-size: 18px;
            font-weight: 600;
            color: rgb(144, 144, 236);
            border: none;
            cursor: pointer;
        }
        button:nth-child(1){
                        color: rgb(144, 144, 236);
                        background-color: #fff;


        }
          button:nth-child(1):hover{
               background-color: transparent;
            color: #fff ;
            border: 2px solid rgb(144, 144, 236);

          }
        button:nth-child(2){
            background-color: transparent;
            color: #fff ;
            border: 2px solid rgb(144, 144, 236);
        }
           button:nth-child(2):hover{
            background-color: #fff ;
         color: rgb(144, 144, 236);
                        
        }
    }
    img {
      height: 400px;
      width: 90%;
      object-fit: cover;
      object-position: center;
      margin-top: 26px;
      margin-bottom: 12px;
      border-radius: 20px;
    }
  }
  #div-left {
    grid-area: div-left;
    img {
      height: 500px;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  #div-right {
    grid-area: div-right;
    img {
      height: 500px;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  #div-up {
    grid-area: div-up;
    width: 100%;
    height: 250px;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  #div-bottom {
    grid-area: div-bottom;
    width: 100%;
    height: 250px;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  #page1{
    grid-area: page1;
  }
}
