* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #222
}

main{
    height: 100%;
    width: 100%;
      background-color: #222;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    
      #box{
        height: 200px;
        width: 350px;
        background-color: red;
        border-radius: 20px;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1.2rem;

        h1{
          font-size: 3rem;
          font-weight: 500;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        }
        h5{
           font-size: 1.5rem;
           font-weight: 400;
           font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        p{
          font-size: 1rem;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          font-weight: 300;
        }

      }
      button{
        background-color: red;
        padding: 1rem 2rem;
        border-radius: 20px;
        border: 2px solid white;
        font-size: 2.3rem;
        font-weight: 500;
        cursor: pointer;
      }
      button:active{
        scale: 0.9;
      }
      
}