* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // color: #fff;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #222
}

main{
  height: 100%;
  width: 100%;
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  anchor-name: --new-anchor;
  .box{
    height: 50px;
    width: 100px;
    background-color: white;
    padding: 0.5rem 1.7rem;
    border-radius: 5px;


    p{
      font-size: 20px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
       font-weight: 700;
       user-select: none;
       
    }
  }
  .anchor{
   
    background-color:whitesmoke;
    position: absolute;
    top: anchor(top);
    left: anchor(left);
    bottom: anchor(bottom);
    right: anchor(right);
    position-anchor: --new-anchor;
    border-radius: 5px;
    mix-blend-mode: exclusion;
    transition: all 0.4s linear;
    pointer-events: none;
  }
  .box:hover{
    anchor-name: --new-anchor;
  }
}

